.describe {
	width: 100%;
	padding: 0 20px 0 0;
}
.describe-title {
	height: 23px;
	font-size: 20px;
	color: #333333;
	letter-spacing: 0;
	line-height: 24px;
	margin: 40px 0 30px 0;
	padding-left: 14px;
	border-left: 6px solid #bf2a2f;
}
.cpjj-text {
 margin-left: 20px;
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
	line-height: 24px;
}
.ydlc-img {
	width: 100%;
 margin-left: 20px;
}
.tklc-text {
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
	text-align: justify;
	line-height: 24px;
 margin-left: 20px;
 margin-bottom: 40px;
}
